:root {
  /* font size */
  --font-title : 26px;
  --font-content : 20px;

  /* color */
  --color-background :#ffffff;
  --color-border : #7e7e7e;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

.contactScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.title {
  font-size: var(--font-title);
  color: var(--color-border);
}

.content {
  margin-top: 28px;
}

.nontentForm{
  font-size: var(--font-content);
  color: var(--color-border);
}

.inputText ,textarea{
  width: 450px;
  height: 50px;
  border: 0px;
  border: solid 1px var(--color-border);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

textarea {
  resize: none;
  font-family: 'Noto Sans JP', sans-serif;
}

.inquiry {
  height: 220px;
}

.transmissionBtn{
  background: var(--color-background);
}

.transmissionBtn:hover{
  transition: 0.1s;
  cursor: pointer;
}

.clickInquirys {
  display: flex;
  justify-content: center;
}

.peruseInquirys {
  border: none;
  cursor: pointer;
  text-decoration-color : var(--color-background);
  color : var(--color-border);
  font-size: 12px;
}
