*{
  box-sizing: border-box;
}

:root {
  /* font size */
  --font-title : 26px;
  --font-content : 15px;
  --font-normal : 15px;

  /* color */
  --color-background :#ffffff;
  --color-font : #656565;
}

html {
  background-color: var(--color-background);
  font-family: 'Noto Sans JP', sans-serif;
}

.inquiryScreen {
  padding: 35px 0px 0px 0px;
  width: 80%;
  height: 100vh;
  margin: auto;
  color: var(--color-font);
}

.navi {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.backScreen{
  align-self: flex-end;
}

.clickContact {
  border: none;
  background-color: var(--color-background);
  text-decoration-color : var(--color-background);
  font-size: 13px;
  color: var(--color-font);
  cursor: pointer;
}

.title {
  font-size: var(--font-title);
}

.blank {
  width: 80px;
}

.inquiryBoxs {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1fr);
  gap: 30px;
  margin-top: 30px;
  justify-content: space-between;

}

.inquiryBox {
  background: var(--color-background);
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgb(209, 209, 209);
  padding: 22px;
  border-radius: 35px;
}

.userName {
  text-align: center;
  font-size: 25px;
}

.userPhoneNum, .userMail {
  text-align: end;
  font-size: 12px;
}

.userInquiry {
  margin-top: 30px;
  font-size: 100%;
}